@mixin ease($what: all, $time: 0.2s, $timeout: 0s, $how: ease-in-out) {
  transition: $what $time $how $timeout;
}
@mixin input-placeholder($color: $color-dark-grey,$size: 14px) {
  &::-webkit-input-placeholder {
    color:$color;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: $size;
  }
  &::-moz-placeholder {
    color:$color;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: $size;
  }/* Firefox 19+ */
  &:-moz-placeholder {
    color:$color;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: $size;
  }/* Firefox 18- */
  &:-ms-input-placeholder {
    color:$color;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: $size;
  }
}
