$color-white: #ffffff;
$color-black: #000;
$color-black-medium: #2F3034;
$color-black-normal: #2F3034;
$color-grey: #DEDEDD;
$color-dark-grey: #76787D;
$color-light-grey: #FDFDFD;
$color-medium-grey: #E9ECEF;
$color-bg-grey: #E0E0E0;

$color-red: rgba(227, 31, 36, 1);
$color-grey-lite: #F5F5F8;

$padding-content: 15px;
//
$media-book: 1370px;
$media-md: 990px;
$media-xs: 640px;
$media-mobile: 520px;
